.frame-child3 {
  width: 405px;
  height: 590px;
  position: relative;
  border-radius: 19.46px;
  background-color: var(--color-whitesmoke-100);
  box-shadow: 1.5px 3px 8.98px rgba(100, 52, 248, 0.15);
  display: none;
}
.message-solid-1-33,
.plus-solid-21 {
  width: 17px;
  height: 17px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.plus-solid-21 {
  width: 8.5px;
  height: 9.7px;
}
.new-project {
  margin: 0;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray);
  text-align: left;
  z-index: 2;
}
.new-project-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
}
.project-title1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-smi);
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray);
  text-align: justify;
  z-index: 1;
}
.search-bar3 {
  width: 146px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.title {
  width: 33px;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-smi);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-darkgray-300);
  text-align: left;
  display: inline-block;
}
.search-bar-child1 {
  height: 33.3px;
  width: 352.1px;
  position: relative;
  border-radius: var(--br-xl);
  border: 0.5px solid var(--color-lightgray-200);
  box-sizing: border-box;
  display: none;
}
.project-title,
.search-bar4 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.search-bar4 {
  border-radius: var(--br-xl);
  border: 0.5px solid var(--color-lightgray-200);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-3xl) var(--padding-6xs);
  z-index: 1;
}
.project-title {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-4xs);
}
.description2,
.whats-the-project {
  font-family: var(--font-montserrat);
  font-size: var(--font-size-smi);
  position: relative;
}
.description2 {
  color: var(--color-darkslategray);
  text-align: justify;
  z-index: 1;
}
.whats-the-project {
  width: 177px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  color: var(--color-darkgray-300);
  text-align: left;
  display: inline-block;
}
.search-bar-child2 {
  height: 67px;
  width: 352px;
  position: relative;
  border-radius: var(--br-xl);
  border: 0.5px solid var(--color-lightgray-200);
  box-sizing: border-box;
  display: none;
}
.description-group,
.search-bar5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.search-bar5 {
  border-radius: var(--br-xl);
  border: 0.5px solid var(--color-lightgray-200);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-3xl) var(--padding-21xl);
  z-index: 1;
}
.description-group {
  flex-direction: column;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 10px;
}
.add-collaborator1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-smi);
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray);
  text-align: justify;
  z-index: 1;
}
.add-collaborator-invite-error {
  width: 148px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.search2 {
  width: 53px;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-smi);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-darkgray-300);
  text-align: left;
  display: inline-block;
}
.magnifying-glass-solid-1-icon3 {
  height: 21.1px;
  width: 23.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-bar-child3 {
  height: 33.3px;
  width: 352.1px;
  position: relative;
  border-radius: var(--br-xl);
  border: 0.5px solid var(--color-lightgray-200);
  box-sizing: border-box;
  display: none;
}
.frame-email-address,
.search-bar6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.search-bar6 {
  flex: 1;
  border-radius: var(--br-xl);
  border: 0.5px solid var(--color-lightgray-200);
  justify-content: space-between;
  padding: var(--padding-6xs) var(--padding-sm) var(--padding-8xs)
    var(--padding-3xl);
  z-index: 1;
}
.frame-email-address {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xs);
}
.cant-find-collaborator1 {
  position: relative;
  font-size: var(--font-size-smi);
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray);
  text-align: justify;
  z-index: 1;
}
.add-collaborator-invite-error1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.collaboratorgmailcom1,
.email-address1 {
  width: 121px;
  position: relative;
  font-size: var(--font-size-smi);
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.collaboratorgmailcom1 {
  width: 158px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 19px;
  color: var(--color-darkgray-200);
  z-index: 2;
}
.search-bar-child4 {
  height: 33.3px;
  width: 352.1px;
  position: relative;
  border-radius: var(--br-xl);
  border: 0.5px solid var(--color-lightgray-200);
  box-sizing: border-box;
  display: none;
}
.magnifying-glass-solid-1-icon4 {
  height: 21.1px;
  width: 23.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 21px;
}
.search-bar7 {
  align-self: stretch;
  border-radius: var(--br-xl);
  border: 0.5px solid var(--color-lightgray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-6xs) var(--padding-sm) var(--padding-8xs)
    var(--padding-xs);
  z-index: 1;
}
.create-project-button,
.email-input,
.invite-collaborator {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-input {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-sm);
}
.create-project-button,
.invite-collaborator {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs);
}
.invite-collaborator {
  flex-direction: column;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-xl);
}
.frame-child4 {
  height: 39px;
  width: 194px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-mediumpurple);
  display: none;
}
.create-project {
  height: 22px;
  position: relative;
  font-size: var(--font-size-smi);
  display: inline-block;
  font-family: var(--font-montserrat);
  color: var(--color-gainsboro-200);
  text-align: justify;
  z-index: 1;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-19xl) var(--padding-7xs)
    var(--padding-14xl);
  background-color: var(--color-mediumpurple);
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.frame-wrapper2 {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-9xs);
}
.add-project-overlay,
.frame-wrapper2,
.group-form {
  display: flex;
  justify-content: flex-start;
}
.group-form {
  margin: 0;
  flex: 1;
  border-radius: 19.46px;
  background-color: var(--color-whitesmoke-100);
  box-shadow: 1.5px 3px 8.98px rgba(100, 52, 248, 0.15);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-6xl) var(--padding-5xl) 47px var(--padding-6xl);
  gap: 34px;
}
.add-project-overlay {
  width: 100%;
  height: 553px;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
}
