.frame-child2 {
  width: 405px;
  height: 397px;
  position: relative;
  border-radius: 19.46px;
  background-color: var(--color-whitesmoke-100);
  box-shadow: 1.5px 3px 8.98px rgba(100, 52, 248, 0.15);
  display: none;
}
.current-collaborators1 {
  width: 185px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.interior-designer1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-black);
  box-sizing: border-box;
  width: 24.7px;
  height: 24.7px;
}
.black-woman-5505581-1920-2-icon1 {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: var(--br-181xl);
  width: 22.8px;
  height: 22.7px;
  object-fit: cover;
  z-index: 1;
}
.collaborator-11,
.man-6077707-1280-1-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.7px;
  height: 24.7px;
  z-index: 1;
}
.man-6077707-1280-1-icon2 {
  top: 33px;
  border-radius: var(--br-331xl);
  object-fit: cover;
}
.man,
.you1 {
  position: relative;
}
.man {
  height: 58px;
  width: 25px;
}
.you1 {
  z-index: 1;
}
.interior-designer2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-2xs);
  font-weight: 200;
  z-index: 2;
}
.add-collaborator-btn4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.john-doe3 {
  width: 93px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.client1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-2xs);
  font-weight: 200;
  z-index: 2;
}
.megan-nimo1 {
  width: 271px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.message-solid-1-31 {
  width: 17px;
  height: 17px;
  position: absolute;
  margin: 0 !important;
  right: 28px;
  bottom: 10px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.messagesolid {
  flex: 1;
  flex-direction: column;
  position: relative;
  gap: var(--gap-6xs);
  min-width: 206px;
}
.blackwoman,
.current-collaborators,
.messagesolid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.blackwoman {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-sm);
  font-size: var(--text-xs-medium-size);
  color: var(--color-black);
}
.current-collaborators {
  width: 356px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.add-collaborator-btn5 {
  height: 15.2px;
  width: 15.3px;
  position: relative;
  z-index: 2;
  margin-left: -197px;
}
.current-collaborators-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.makeup-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 0 solid var(--color-black);
  box-sizing: border-box;
  width: 24.7px;
  height: 24.7px;
}
.make-up-5505591-1920-1-icon1 {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: var(--br-181xl);
  width: 22.8px;
  height: 22.7px;
  object-fit: cover;
  z-index: 1;
}
.collaborator-21 {
  height: 24.7px;
  width: 24.7px;
  position: relative;
  z-index: 1;
}
.megan-nimo2 {
  width: 93px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.lighting-expert1 {
  flex: 1;
  position: relative;
  font-weight: 200;
  z-index: 1;
}
.message-solid-1-51 {
  height: 17px;
  width: 17px;
  position: absolute;
  margin: 0 !important;
  top: -14px;
  right: 26.7px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.search-text {
  align-self: stretch;
  flex-direction: row;
  position: relative;
  font-size: var(--font-size-2xs);
}
.collaborator-frame2,
.lighting-expert-frame,
.search-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.lighting-expert-frame {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-10xs);
  min-width: 206px;
}
.collaborator-frame2 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-smi);
  min-height: 33px;
}
.add-collaborator {
  width: 140px;
  position: relative;
  font-size: var(--font-size-smi);
  display: inline-block;
  color: var(--color-darkslategray);
  z-index: 1;
}
.search-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 22px;
}
.circle-frame,
.frame-parent2 {
  align-self: stretch;
  display: flex;
}
.circle-frame {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--text-xs-medium-size);
  color: var(--color-black);
}
.frame-parent2 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.message-solid-1-32,
.plus-solid-2 {
  width: 17px;
  height: 17px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.plus-solid-2 {
  width: 8.5px;
  height: 9.7px;
}
.search1 {
  width: 52px;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-smi);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-darkgray-300);
  text-align: left;
  display: inline-block;
}
.magnifying-glass-solid-1-icon1 {
  height: 21.1px;
  width: 23.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-bar-item {
  height: 33.3px;
  width: 352.1px;
  position: relative;
  border-radius: var(--br-xl);
  border: 0.5px solid var(--color-lightgray-200);
  box-sizing: border-box;
  display: none;
}
.search-bar-frame1,
.search-bar1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.search-bar1 {
  flex: 1;
  border-radius: var(--br-xl);
  border: 0.5px solid var(--color-lightgray-200);
  justify-content: space-between;
  padding: var(--padding-6xs) var(--padding-sm) var(--padding-8xs)
    var(--padding-4xl);
  z-index: 1;
}
.search-bar-frame1 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.cant-find-collaborator {
  position: relative;
  z-index: 1;
}
.not-found-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl) 0 0;
}
.collaboratorgmailcom,
.email-address {
  width: 121px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.collaboratorgmailcom {
  width: 158px;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-smi);
  background-color: transparent;
  height: 19px;
  color: var(--color-darkgray-200);
  text-align: left;
  z-index: 2;
}
.search-bar-inner {
  height: 33.3px;
  width: 352.1px;
  position: relative;
  border-radius: var(--br-xl);
  border: 0.5px solid var(--color-lightgray-200);
  box-sizing: border-box;
  display: none;
}
.magnifying-glass-solid-1-icon2 {
  height: 21.1px;
  width: 23.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 21px;
}
.search-bar2 {
  align-self: stretch;
  border-radius: var(--br-xl);
  border: 0.5px solid var(--color-lightgray-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-6xs) var(--padding-sm) var(--padding-8xs)
    var(--padding-xs);
  z-index: 1;
}
.collaborator-gmail-text,
.search-email-bar-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.collaborator-gmail-text {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-sm);
}
.search-email-bar-frame {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-9xs) 0 0;
  text-align: left;
}
.group-section {
  flex: 1;
  border-radius: 19.46px;
  background-color: var(--color-whitesmoke-100);
  box-shadow: 1.5px 3px 8.98px rgba(100, 52, 248, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-9xl) 41px var(--padding-2xl);
  gap: 21px;
  text-align: justify;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
}
.add-collaborator-overlay {
  width: 405px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 156px;
  box-sizing: border-box;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
