.feedbak-symbol-logo-blue-1-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  width: 33.6px;
  height: 30.7px;
  object-fit: contain;
}
.feedbak-name-logo-blue-1-icon2 {
  position: absolute;
  top: 0;
  left: 10.6px;
  width: 164.3px;
  height: 29.7px;
  object-fit: cover;
  z-index: 1;
}
.feedbak-symbol-logo-blue-1-group {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -0.15px;
  right: -0.2px;
  bottom: -0.15px;
  left: 0;
}
.feedbak-logo2,
.search5 {
  height: 30.7px;
  width: 174.8px;
  position: relative;
}
.search5 {
  width: 51px;
  border: 0;
  outline: 0;
  font-family: var(--text-xs-medium);
  font-size: var(--font-size-smi);
  background-color: transparent;
  height: 15px;
  color: var(--color-dimgray-100);
  text-align: left;
  display: inline-block;
}
.magnifying-glass-solid-1-icon6 {
  height: 24.8px;
  width: 24.8px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-bar-child6,
.search-bar9 {
  border-radius: var(--br-xl);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  max-width: 100%;
}
.search-bar-child6 {
  height: 39.2px;
  width: 368.5px;
  position: relative;
  display: none;
}
.search-bar9 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-mini) var(--padding-6xs)
    var(--padding-5xl);
  gap: var(--gap-xl);
  z-index: 1;
}
.jane-kagema2 {
  width: 111px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.b-u-t-t-o-n {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.black-woman-5505581-1920-1-icon2 {
  height: 34px;
  width: 34px;
  position: relative;
  border-radius: var(--br-181xl);
  object-fit: cover;
}
.user-profile2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.vector-icon1 {
  height: 26.3px;
  width: 22.2px;
  position: relative;
}
.theme2,
.vector {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.theme2 {
  overflow: hidden;
  padding: var(--padding-11xs) 0;
}
.vector {
  gap: var(--gap-mid);
}
.search-bar-group {
  width: 650px;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-86xl);
}
.f-r-a-m-e2,
.feedbak-logo-container,
.search-bar-group {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.feedbak-logo-container {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.f-r-a-m-e2 {
  width: 1244px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-19xl);
  box-sizing: border-box;
}
.f-r-a-m-e-child,
.f-r-a-m-e1 {
  align-self: stretch;
  max-width: 100%;
}
.f-r-a-m-e-child {
  height: 4px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.f-r-a-m-e1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--text-xs-medium);
}
.home-btn-icon2 {
  cursor: pointer;
}
.home-btn-icon2,
.project-management-btn-icon2 {
  width: 32.4px;
  height: 29.1px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.home-btn-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-79xl);
}
.theme-frame-icon,
.user-profile3 {
  align-self: stretch;
  position: relative;
}
.user-profile3 {
  margin: 0;
  font-size: inherit;
  line-height: 20px;
  font-weight: 700;
  font-family: inherit;
}
.theme-frame-icon {
  height: 1px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.user-profile-name-frame {
  width: 145px;
  height: 37px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.wrapper-group-16-child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 4px;
  top: 4px;
  transform: scale(1.229);
}
.wrapper-group-16 {
  position: absolute;
  top: -0.3px;
  left: -0.3px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.black-woman-5505581-1920-1-icon3 {
  position: absolute;
  top: 0;
  left: 1px;
  border-radius: var(--br-181xl);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.user-info-frame {
  height: 105px;
  width: 106px;
  position: relative;
}
.interior-designer3,
.jane-kagema3 {
  width: 159.2px;
  position: relative;
  display: inline-block;
}
.interior-designer3 {
  width: 195px;
}
.east-african-time {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  color: #6b7280;
}
.current-password-frame,
.time-zone-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.current-password-frame {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.time-zone-frame {
  flex: 1;
  padding: 0 var(--padding-12xs) var(--padding-9xs) 0;
  box-sizing: border-box;
  min-width: 224px;
  max-width: 100%;
}
.user-info-frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  font-family: var(--font-montserrat);
}
.header-frame,
.home-projects-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.header-frame {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-42xl);
  min-width: 304px;
}
.home-projects-frame {
  width: 606px;
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-87xl);
  min-width: 606px;
}
.upload-new-photo {
  position: relative;
  font-size: var(--text-sm-medium-size);
  line-height: 150%;
  font-family: var(--font-montserrat);
  color: var(--white);
  text-align: center;
}
.upload-photo1 {
  cursor: pointer;
  border: 1px solid var(--color-darkslategray);
  padding: var(--padding-lg) var(--padding-smi) var(--padding-mid)
    var(--padding-lgi);
  background-color: var(--color-darkslategray);
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}
.delete:hover,
.upload-photo1:hover {
  border: 1px solid var(--color-slategray-100);
  box-sizing: border-box;
}
.upload-photo1:hover {
  background-color: var(--color-slategray-100);
}
.delete1 {
  position: relative;
  font-size: var(--text-sm-medium-size);
  line-height: 150%;
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray);
  text-align: center;
}
.delete {
  cursor: pointer;
  border: 1px solid var(--color-darkslategray);
  padding: var(--padding-lg) var(--padding-mid) var(--padding-mid);
  background-color: var(--white);
  flex: 1;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 114px;
}
.delete:hover {
  background-color: #e6e6e6;
}
.cancel-button-text,
.upload-frame-set {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.upload-frame-set {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-37xl);
}
.cancel-button-text {
  width: 408px;
  flex-direction: column;
  padding: 0 0 35px;
  box-sizing: border-box;
  max-width: 100%;
}
.user-profile-frame2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.f-r-a-m-e-parent,
.search-bar-frame2 {
  width: 1189px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl);
  box-sizing: border-box;
  max-width: 100%;
}
.f-r-a-m-e-parent {
  width: 1348px;
  flex-direction: column;
  padding: 0 var(--padding-xl);
  gap: var(--gap-19xl);
  flex-shrink: 0;
}
.user-profile-management-child {
  align-self: stretch;
  height: 1138px;
  position: relative;
  display: none;
}
.calendar-btn-icon3,
.settings-btn-icon2,
.to-do-list-btn-icon2 {
  width: 32.4px;
  height: 33.3px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.settings-btn-icon2,
.to-do-list-btn-icon2 {
  height: 32.4px;
}
.settings-btn-icon2 {
  height: 30.8px;
}
.first-name-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-79xl);
}
.vector-separator-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.first-name,
.name-field1 {
  width: 121px;
  position: relative;
  display: inline-block;
}
.name-field1 {
  height: 52px;
  width: 497px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.eg-alaa {
  width: 66px;
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 20px;
  position: relative;
  font-style: italic;
  color: var(--color-darkgray-100);
  text-align: left;
  z-index: 1;
}
.black-woman-shape {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-lgi);
  max-width: 100%;
}
.user-name {
  width: 121px;
  position: relative;
  display: inline-block;
}
.frame-user-profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  min-width: 323px;
  max-width: 100%;
}
.last-name,
.name-field2 {
  width: 121px;
  position: relative;
  display: inline-block;
}
.name-field2 {
  height: 52px;
  width: 497px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.eg-mohamed {
  width: 113px;
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 20px;
  position: relative;
  font-style: italic;
  color: var(--color-darkgray-100);
  text-align: left;
  z-index: 1;
}
.user-profile-frame4 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-4xl);
  max-width: 100%;
}
.home-project-management-button,
.search-bar-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.search-bar-input {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 323px;
}
.home-project-management-button {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-27xl);
}
.name-field3 {
  height: 52px;
  width: 1038px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.eg-alaamohamed {
  width: 155px;
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 20px;
  position: relative;
  font-style: italic;
  color: var(--color-darkgray-100);
  text-align: left;
  z-index: 1;
}
.companies-text,
.user-profile-frame3 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.companies-text {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) var(--padding-mid);
}
.user-profile-frame3 {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-base);
}
.vector-separator-icon1 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.phone-number-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.email-address2,
.email-field {
  position: relative;
}
.email-field {
  height: 52px;
  width: 497px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.mail-icon {
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.clock-icon,
.companies-list {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.companies-list {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-lgi);
}
.clock-icon {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  min-width: 323px;
}
.phone-number {
  width: 131px;
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 20px;
  position: relative;
  font-weight: 700;
  color: var(--color-darkslategray);
  text-align: left;
}
.phone-field {
  height: 52px;
  width: 497px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.phone {
  margin: 0;
  height: 28px;
  width: 28px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.phone-field-parent {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-2xl);
  max-width: 100%;
}
.clock-icon1,
.time-zone-selection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.clock-icon1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 323px;
  max-width: 100%;
}
.time-zone-selection {
  flex-direction: row;
  gap: var(--gap-27xl);
}
.location-input,
.noon-text-icon,
.time-zone-selection {
  align-self: stretch;
  max-width: 100%;
}
.noon-text-icon {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.location-input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.companies {
  width: 121px;
  position: relative;
  display: inline-block;
}
.company-icon {
  height: 42px;
  width: 42px;
  position: relative;
}
.procrew {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.save-button {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.new-password-input,
.time-zone-marker {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.new-password-input {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-7xs);
  font-size: var(--font-size-xl);
}
.time-zone-marker {
  width: 179px;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.company-icon1 {
  height: 42px;
  width: 42px;
  position: relative;
}
.noon {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.time-zone-marker-undefined {
  width: 173px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.company-icon2 {
  height: 42px;
  width: 42px;
  position: relative;
}
.lamasatech {
  height: 32px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.time-zone-marker-undefined1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.company-icon-noon-frame,
.location-marker-undefined {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.location-marker-undefined {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.company-icon-noon-frame {
  width: 239px;
  flex-direction: row;
  padding: 0 var(--padding-7xs) var(--padding-5xs);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
}
.vector-divider-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.location-marker {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.location,
.location-field {
  width: 121px;
  position: relative;
  display: inline-block;
}
.location-field {
  height: 52px;
  width: 1038px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.location-undefined-glyph {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.undefined-symbol {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-mini) var(--padding-smi);
  max-width: 100%;
}
.time-zone {
  width: 121px;
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-montserrat);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 20px;
  position: relative;
  font-weight: 700;
  color: var(--color-darkslategray);
  text-align: left;
}
.time-zone-field {
  height: 52px;
  width: 1038px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.clock-undefined-glyph-und {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.time-zone-field-parent,
.time-zone-input {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.time-zone-field-parent {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-sm) var(--padding-lg);
}
.time-zone-input {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-11xs) var(--padding-base) 0;
  gap: var(--gap-base);
}
.password-input-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.first-name-input1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.current-password {
  position: relative;
}
.current-password-field {
  height: 52px;
  width: 489px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.key-undefined-glyph-undef {
  height: 33.9px;
  width: 33.9px;
  position: absolute;
  margin: 0 !important;
  top: 9px;
  left: 16px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.new-pass-text {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.new-pass-symbol,
.password-frame {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.new-pass-symbol {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-sm) var(--padding-xl);
  position: relative;
}
.password-frame {
  width: 492px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-base);
}
.new-password {
  width: 151px;
  position: relative;
  display: inline-block;
}
.new-password-field {
  height: 52px;
  width: 505px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.key-undefined-glyph-undef1 {
  height: 33.9px;
  width: 33.9px;
  position: absolute;
  margin: 0 !important;
  top: 9px;
  left: 20.5px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.frame-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.new-password-field-parent {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-sm) var(--padding-8xl);
  position: relative;
  max-width: 100%;
}
.new-pass-frame,
.password-frame1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.password-frame1 {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 330px;
}
.new-pass-frame {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-25xl);
}
.confirm-new-password {
  position: relative;
}
.current-pass-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.confirtm-new-password-field {
  height: 52px;
  width: 1038px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
  z-index: 0;
}
.key-undefined-glyph-undef2 {
  height: 33.9px;
  width: 33.9px;
  position: absolute;
  margin: 0 !important;
  bottom: 8.1px;
  left: 14px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.confirmation-frame-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.cancel-button {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-base) var(--padding-8xl) var(--padding-xs);
  position: relative;
  max-width: 100%;
}
.security-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.confirm-pass {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
  box-sizing: border-box;
}
.confirm-pass,
.email-address-frame,
.setting-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.email-address-frame {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-37xl);
  min-width: 682px;
}
.setting-icon {
  width: 1189px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-88xl);
}
.text4,
.to-do-list-icon {
  font-family: var(--font-montserrat);
  text-align: left;
}
.to-do-list-icon {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
}
.text4 {
  position: relative;
  font-size: var(--text-sm-medium-size);
  line-height: 150%;
  color: var(--white);
}
.calender-icon,
.save-button1 {
  display: flex;
  box-sizing: border-box;
}
.save-button1 {
  cursor: pointer;
  border: 3px solid var(--color-darkslategray);
  padding: var(--padding-lg) 30px var(--padding-mid) 44px;
  background-color: var(--color-darkslategray);
  height: 62px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}
.save-button1:hover {
  background-color: var(--color-slategray-100);
  border: 3px solid var(--color-slategray-100);
  box-sizing: border-box;
}
.calender-icon {
  width: 1287px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 312px;
  gap: var(--gap-38xl);
  max-width: 100%;
}
.cancel {
  align-self: stretch;
  width: 50px;
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.cancel-button-wrapper,
.cancel-button1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.cancel-button1 {
  height: 56px;
  width: 176px;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--color-darkslategray);
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lg) var(--padding-mid) var(--padding-mid);
}
.cancel-button-wrapper {
  width: 912px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  font-size: var(--text-sm-medium-size);
  font-family: var(--font-montserrat);
}
.user-profile-management {
  width: 100%;
  height: 1861px;
  position: relative;
  background-color: var(--color-gainsboro-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-32xl);
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray);
  font-family: var(--font-lato);
}
@media screen and (max-width: 1200px) {
  .home-projects-frame {
    flex: 1;
    padding-right: 0;
    box-sizing: border-box;
  }
  .user-profile-frame2 {
    flex-wrap: wrap;
  }
  .setting-icon {
    gap: var(--gap-88xl);
  }
  .calender-icon {
    padding-bottom: 203px;
    box-sizing: border-box;
  }
  .user-profile-management {
    height: auto;
  }
}
@media screen and (max-width: 1050px) {
  .home-project-management-button,
  .new-pass-frame,
  .time-zone-selection {
    flex-wrap: wrap;
  }
  .calender-icon {
    padding-bottom: 132px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .search-bar-group {
    gap: var(--gap-86xl);
  }
  .user-info-frame-parent {
    flex-wrap: wrap;
  }
  .header-frame {
    gap: var(--gap-42xl);
  }
  .home-projects-frame {
    flex-wrap: wrap;
    gap: var(--gap-87xl);
    min-width: 100%;
  }
  .f-r-a-m-e-parent {
    gap: var(--gap-19xl);
  }
  .home-project-management-button {
    gap: var(--gap-27xl);
  }
  .phone-number-frame {
    gap: var(--gap-13xl);
  }
  .time-zone-selection {
    gap: var(--gap-27xl);
  }
  .location-input,
  .location-marker {
    gap: var(--gap-13xl);
  }
  .new-pass-frame {
    gap: var(--gap-25xl);
  }
  .email-address-frame {
    gap: var(--gap-37xl);
    min-width: 100%;
  }
  .setting-icon {
    gap: var(--gap-88xl);
  }
  .calender-icon {
    gap: var(--gap-38xl);
  }
  .user-profile-management {
    gap: var(--gap-32xl);
  }
}
@media screen and (max-width: 450px) {
  .search-bar-group {
    gap: var(--gap-86xl);
  }
  .user-profile3 {
    font-size: 19px;
    line-height: 16px;
  }
  .interior-designer3,
  .jane-kagema3 {
    font-size: var(--font-size-base);
  }
  .home-projects-frame {
    gap: var(--gap-87xl);
  }
  .upload-frame-set {
    flex-wrap: wrap;
    gap: var(--gap-37xl);
  }
  .lamasatech,
  .noon,
  .procrew {
    font-size: var(--font-size-base);
  }
  .calender-icon {
    padding-bottom: 86px;
    box-sizing: border-box;
  }
}
