.body {
    display: grid;
    place-items: center;
    height: 100vh;
    /* Set height to full viewport height */
    margin: 0;
    /* Remove default margin */
}

header {
    align-self: start;
    /* Align header to the start of the grid */
}

.welcome-msg {
    font-size: 2rem;
    display: inline-block;
    margin-bottom: 0;   
}

.welcome-msg p {
    display: flex;
    border-right: 3px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(39), cursor .4s step-end infinite alternate;
}

/* cursor blinking animation */
@keyframes cursor {
    50% {
        border-color: transparent
    }
}

/* Typing effect */
@keyframes typing {
    from {
        width: 0
    }

}

.add-new-project {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;

}

.add-new-project:hover {
    text-decoration: underline  #FFCB05;
    cursor: pointer;
}

.plus-icon {
    width: 2.5vw;
    margin-right: 20px;
}

.plus-icon:hover {
    cursor: pointer;
}





